@import "tailwindcss";

/* EN and RU fonts */

@font-face {
  font-family: "l-text";
  src: url("/fonts/l-text.woff2") format("woff2");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "l-text";
  src: url("/fonts/l-text-bold.woff2") format("woff2");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "l-title";
  src: url("/fonts/l-title.woff2") format("woff2");
  font-weight: normal;
  font-display: swap;
}

/* FA and AR fonts */

@font-face {
  font-family: "r-text";
  src: url("/fonts/r-text.woff2") format("woff2");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "r-text";
  src: url("/fonts/r-text-bold.woff2") format("woff2");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "r-title";
  src: url("/fonts/r-title.woff2") format("woff2");
  font-weight: normal;
  font-display: swap;
}

:root {

  --font-R-text:  "r-text", Arial, Helvetica, sans-serif;
  --font-R-title:  "r-title", Arial, Helvetica, sans-serif;
  --font-L-text:  "l-text", Arial, Helvetica, sans-serif;
  --font-L-title:  "l-title", Arial, Helvetica, sans-serif;

  --Size-0-000: 0rem /* 0px */;
  --Size-O-001: 0.0625rem /* 1px */;
  --Size-T-002: 0.125rem /* 2px */;
  --Size-1-004: 0.25rem /* 4px */;
  --Size-2-008: 0.5rem /* 8px */;
  --Size-3-012: 0.75rem /* 12px */;
  --Size-Z-014: 0.875rem /* 14px */;
  --Size-H-016: 1rem /* 16px */;
  --Size-4-018: 1.125rem /* 18x */;
  --Size-5-024: 1.5rem /* 24px */;
  --Size-6-028: 1.75rem /* 28px */;
  --Size-7-034: 2.125rem /* 34px */;
  --Size-8-040: 2.5rem /* 40px */;
  --Size-M-056: 3.5rem /* 56px */;
  --Size-9-072: 4.5rem /* 72px */;
  --Size-A-080: 5rem /* 80px */;
  --Size-B-100: 6.25rem /* 100px */;
  --Size-C-110: 6.875rem /* 110px */;
  --Size-D-144: 9rem /* 144px */;
  --Size-E-180: 11.25rem /* 180px */;

  --Text-H1: 2.5rem /* 40px */;
  --Text-H2: 2.125rem /* 34px */;
  --Text-H3: 1.5rem /* 24px */;
  --Text-H4: 1.125rem /* 18x */;
  --Text-H5: 1rem /* 16px */;
  --Text-H6: 0.875rem /* 14px */;
  --Text-P: 1rem /* 16px */;

  --ExactWhite: oklch(1 0 0);
  --ExactBlack: oklch(0 0 0);

  --Black: oklch(0 0 250);

  --TextDark: oklch(0.10 0.001 250);
  --Text: oklch(0.18 0.005 250);
  --TextLight: oklch(0.24 0.005 250);
  --TextShadow: oklch(0.28 0.008 250);
  --TextMiddle: oklch(0.34 0.008 250);
  --TextLow: oklch(0.40 0.008 250);

  --White: oklch(1 0 70);

  --BackgroundLight: oklch(0.97 0.001 70);
  --Background: oklch(0.94 0.005 70);
  --BackgroundDark: oklch(0.90 0.005 70);
  --BackgroundBorder: oklch(0.82 0.008 70);
  --BackgroundMiddle: oklch(0.72 0.008 70);
  --BackgroundLow: oklch(0.60 0.008 70);

  --Gray: oklch(0.5 0 250);

  --PrimaryDark: oklch(0.34 0.0957 250);
  --Primary: oklch(0.48 0.1349 250);
  --PrimaryLight: oklch(0.62 0.1752 250);

  --SecondaryDark: oklch(0.34 0.0391 250);
  --Secondary: oklch(0.48 0.0543 250);
  --SecondaryLight: oklch(0.62 0.073 250);

  --SuccessDark: oklch(0.34 0.0935 150);
  --Success: oklch(0.48 0.1316 150);
  --SuccessLight: oklch(0.6 0.1643 150);

  --ErrorDark: oklch(0.30 0.1197 30);
  --Error: oklch(0.42 0.1675 30);
  --ErrorLight: oklch(0.54 0.2165 30);

  --WarningDark: oklch(0.6 0.1479 55);
  --Warning: oklch(0.72 0.1773 55);
  --WarningLight: oklch(0.74 0.1556 55);

  --ThirdDark: oklch(0.6 0.1295 70);
  --Third: oklch(0.72 0.1556 70);
  --ThirdLight: oklch(0.8 0.1621 70);

}

@layer utilities {
  *:focus-visible {
    outline-style: solid;
    outline-width: var(--Size-T-002);
    outline-offset: var(--Size-T-002);
    outline-color: var(--color-P-Primary);
  }

  *::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: var(--color-P-Background3);
  }

  *::-webkit-scrollbar-thumb {
    background: var(--color-P-Primary);
    border-radius: 2px;
  }

  *::-webkit-scrollbar-button {
    display: none;
    height: 0;
    width: 0;
  }

}

@media (min-width: 1280px) {
  :root {
    --Text-H1: 3.5rem /* 56px */;
    --Text-H2: 2.5rem /* 40px */;
    --Text-H3: 1.75rem /* 28px */;
    --Text-H4: 1.5rem /* 24px */;
    --Text-H5: 1.125rem /* 18x */;
    --Text-H6: 1rem /* 16px */;
    --Text-P: 1.125rem /* 18x */;
  }
}

@media (prefers-color-scheme: dark) {
  :root {

  /* --Black: oklch(1 0 70);

  --TextDark: oklch(0.97 0.001 70);
  --Text: oklch(0.94 0.005 70);
  --TextLight: oklch(0.90 0.005 70);
  --TextShadow: oklch(0.82 0.008 70);
  --TextMiddle: oklch(0.72 0.008 70);
  --TextLow: oklch(0.60 0.008 70);

  --White: oklch(0 0 250);

  --BackgroundLight: oklch(0.10 0.001 250);
  --Background: oklch(0.18 0.005 250);
  --BackgroundDark: oklch(0.24 0.005 250);
  --BackgroundBorder: oklch(0.28 0.008 250);
  --BackgroundMiddle: oklch(0.34 0.008 250);
  --BackgroundLow: oklch(0.40 0.008 250);

  --Gray: oklch(0.5 0 70); */

  /* --PrimaryDark: oklch(0.62 0.1752 250);
  --Primary: oklch(0.48 0.1349 250);
  --PrimaryLight: oklch(0.34 0.0957 250);

  --SecondaryDark: oklch(0.62 0.073 250);
  --Secondary: oklch(0.48 0.0543 250);
  --SecondaryLight: oklch(0.34 0.0391 250);

  --SuccessDark: oklch(0.6 0.1643 150);
  --Success: oklch(0.48 0.1316 150);
  --SuccessLight: oklch(0.34 0.0935 150);

  --ErrorDark: oklch(0.54 0.2165 30);
  --Error: oklch(0.42 0.1675 30);
  --ErrorLight: oklch(0.30 0.1197 30);

  --WarningDark: oklch(0.74 0.1556 55);
  --Warning: oklch(0.72 0.1773 55);
  --WarningLight: oklch(0.6 0.1479 55);

  --ThirdDark: oklch(0.8 0.1621 70);
  --Third: oklch(0.72 0.1556 70);
  --ThirdLight: oklch(0.6 0.1295 70); */
  
  }
}

@theme {
  /* XXX : Next Version Features
--font-*	Font family utilities like font-sans
--font-weight-*	Font weight utilities like font-bold
--tracking-*	Letter spacing utilities like tracking-wide
--leading-*	Line height utilities like leading-tight
--breakpoint-*	Responsive breakpoint variants like sm:*
--container-*	Container query variants like @sm:* and size utilities like max-w-md
--inset-shadow-*	Inset box shadow utilities like inset-shadow-xs
--drop-shadow-*	Drop shadow filter utilities like drop-shadow-md
--blur-*	Blur filter utilities like blur-md
--perspective-*	Perspective utilities like perspective-near
--aspect-*	Aspect ratio utilities like aspect-video
--ease-*	Transition timing function utilities like ease-out
--animate-*	Animation utilities like animate-spin
 */

 --spacing-P-0: var(--Size-0-000) /* 0px */;
 --spacing-P-O: var(--Size-O-001) /* 1px */;
 --spacing-P-T: var(--Size-T-002) /* 2px */;
 --spacing-P-1: var(--Size-1-004) /* 4px */;
 --spacing-P-2: var(--Size-2-008) /* 8px */;
 --spacing-P-3: var(--Size-3-012) /* 12px */;
 --spacing-P-Z: var(--Size-Z-014) /* 14px */;
 --spacing-P-H: var(--Size-H-016) /* 16px */;
 --spacing-P-4: var(--Size-4-018) /* 18px */;
 --spacing-P-5: var(--Size-5-024) /* 24px */;
 --spacing-P-6: var(--Size-6-028) /* 28px */;
 --spacing-P-7: var(--Size-7-034) /* 34px */;
 --spacing-P-8: var(--Size-8-040) /* 40px */;
 --spacing-P-M: var(--Size-M-056) /* 56px */;
 --spacing-P-9: var(--Size-9-072) /* 72px */;
 --spacing-P-10: var(--Size-A-080) /* 80px */;
 --spacing-P-11: var(--Size-B-100) /* 100px */;
 --spacing-P-12: var(--Size-C-110) /* 110px */;
 --spacing-P-13: var(--Size-D-144) /* 144px */;
 --spacing-P-14: var(--Size-E-180) /* 180px */;

 --text-P-H1: var(--Text-H1) /* 40px */;
 --text-P-H2: var(--Text-H2) /* 34px */;
 --text-P-H3: var(--Text-H3) /* 28px */;
 --text-P-H4: var(--Text-H4) /* 24px */;
 --text-P-H5: var(--Text-H5) /* 18px */;
 --text-P-H6: var(--Text-H6) /* 14px */;
 --text-P-P: var(--Text-P) /* 16px */;

 --radius-P-0: var(--Size-0-000) /* 0px */;
 --radius-P-1: var(--Size-T-002) /* 2px */;
 --radius-P-2: var(--Size-2-008) /* 8px */;
 --radius-P-3: var(--Size-3-012) /* 12px */;
 --radius-P-4: var(--Size-4-018) /* 18px */;

 --border-width-P-0: var(--Size-0-000) /* 0px */;
 --border-width-P-1: var(--Size-O-001) /* 1px */;
 --border-width-P-2: var(--Size-T-002) /* 2px */;
 --border-width-P-3: var(--Size-1-004) /* 4px */;

 --shadow-P-0: 0 0 0 0;
 --shadow-P-0b: 0 0 5px 0;
 --shadow-P-1: 0 2px 1px 0;
 --shadow-P-1b: 0 0 10px 2px;
 --shadow-P-2: 0 4px 1px 0;
 --shadow-P-2b: 0 0 15px 4px;

 --color-P-ExactWhite: var(--ExactWhite);
 --color-P-ExactBlack: var(--ExactBlack);

 --color-P-Black: var(--Black);

 --color-P-TextDark: var(--TextDark);
 --color-P-Text: var(--Text);
 --color-P-TextLight: var(--TextLight);
 --color-P-TextShadow: var(--TextShadow);
 --color-P-TextMiddle: var(--TextMiddle);
 --color-P-TextLow: var(--TextLow);

 --color-P-White: var(--White);

 --color-P-BackgroundLight: var(--BackgroundLight);
 --color-P-Background: var(--Background);
 --color-P-BackgroundDark: var(--BackgroundDark);
 --color-P-BackgroundBorder: var(--BackgroundBorder);
 --color-P-BackgroundMiddle: var(--BackgroundMiddle);
 --color-P-BackgroundLow: var(--BackgroundLow);

 --color-P-Gray: var(--Gray);

 --color-P-PrimaryDark: var(--PrimaryDark);
 --color-P-Primary: var(--Primary);
 --color-P-PrimaryLight: var(--PrimaryLight);

 --color-P-SecondaryDark: var(--SecondaryDark);
 --color-P-Secondary: var(--Secondary);
 --color-P-SecondaryLight: var(--SecondaryLight);

 --color-P-SuccessDark: var(--SuccessDark);
 --color-P-Success: var(--Success);
 --color-P-SuccessLight: var(--SuccessLight);

 --color-P-ErrorDark: var(--ErrorDark);
 --color-P-Error: var(--Error);
 --color-P-ErrorLight: var(--ErrorLight);

 --color-P-WarningDark: var(--WarningDark);
 --color-P-Warning: var(--Warning);
 --color-P-WarningLight: var(--WarningLight);

 --color-P-ThirdDark: var(--ThirdDark);
 --color-P-Third: var(--Third);
 --color-P-ThirdLight: var(--ThirdLight);

 --inset-shadow-in: inset 0 0 2.125rem /* 34px */;
 --shadow-out: drop 0 0 4.5rem /* 72px */;
}

/* EN and RU settings */

html[lang="en"] body,
html[lang="en"] .textFont,
html[lang="ru"] body,
html[lang="ru"] .textFont {
  font-family: var(--font-L-text);
  direction: ltr;
}

html[lang="en"] h1,
html[lang="en"] h2,
html[lang="en"] h3,
html[lang="en"] h4,
html[lang="en"] h5,
html[lang="en"] h6,
html[lang="en"] .titleFont,
html[lang="ru"] h1,
html[lang="ru"] h2,
html[lang="ru"] h3,
html[lang="ru"] h4,
html[lang="ru"] h5,
html[lang="ru"] h6,
html[lang="ru"] .titleFont {
  font-family: var(--font-L-title);
}

/* FA and AR settings */

html[lang="fa"] body,
html[lang="fa"] .textFont,
html[lang="ar"] body,
html[lang="ar"] .textFont {
  font-family: var(--font-R-text);
  direction: rtl;
}

html[lang="fa"] h1,
html[lang="fa"] h2,
html[lang="fa"] h3,
html[lang="fa"] h4,
html[lang="fa"] h5,
html[lang="fa"] h6,
html[lang="fa"] .titleFont,
html[lang="ar"] h1,
html[lang="ar"] h2,
html[lang="ar"] h3,
html[lang="ar"] h4,
html[lang="ar"] h5,
html[lang="ar"] h6,
html[lang="ar"] .titleFont {
  font-family: var(--font-R-title);
}

body {
  background: var(--Background);
  color: var(--Text);
}

h1 {
  font-size: var(--text-P-H1);
  line-height: 120%;
  padding-block: var(--spacing-P-3);
}

h2 {
  font-size: var(--text-P-H2);
  line-height: 120%;
  padding-block: var(--spacing-P-3);
}

h3 {
  font-size: var(--text-P-H3);
  line-height: 120%;
  padding-block: var(--spacing-P-Z);
}

h4 {
  font-size: var(--text-P-H4);
  line-height: 120%;
  padding-block: var(--spacing-P-H);
}

h5 {
  font-size: var(--text-P-H5);
  line-height: 120%;
  padding-block: var(--spacing-P-4);
}

h6 {
  font-size: var(--text-P-H6);
  line-height: 120%;
  padding-block: var(--spacing-P-4);
}

p {
  font-size: var(--text-P-P);
  line-height: 140%;
  padding-block: var(--spacing-P-2);
}



/* Embla Carousel Styles */
.embla {
  max-width: 100%;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: calc(var(--embla-spacing) * -1);
}

.embla__slide {
  flex: 0 0 auto;
  min-width: 0;
  padding-left: var(--embla-spacing);
  position: relative;
}

.embla__slide__img {
  display: block;
  height: auto;
  width: 100%;
}

.embla__slide__number {
  width: 4.6rem;
  height: 4.6rem;
  z-index: 1;
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  line-height: 4.6rem;
  font-weight: 900;
  text-align: center;
  pointer-events: none;
}

.embla__slide__number > span {
  color: var(--Background);
  background-image: linear-gradient(45deg, var(--Text) 25%, transparent 25%, transparent 75%, var(--Text) 75%, var(--Text));
  background-clip: text;
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.6rem;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.embla__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.embla__buttons {
  display: flex;
  gap: 0.5rem;
}